


params {

  sanger= "/dataB/popdata/VCF_CBIO_SANGER/SANGER"
  cbio  = "/dataB/popdata/VCF_CBIO_SANGER/CBIO"
  aux_data = '/spaces/scott/chip/chipdesign/selection/data/'
  out_dir  = '/dataB/popdata/VCF_CBIO_SANGER/groups2/'

    

}

profiles {

    // For execution on a local machine, no containerization. -- Default
    standard {
        process.executor = 'local'
    }

    // For execution on a PBS scheduler, no containerization.
    pbs {
        process.executor = 'pbs'
        process.queue = 'batch'
    }



}

